/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, contact-intro, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Avenir LT W01 35 Light";
  src: url(font-path("../fonts/avenir-lt-w01-35-light.eot")?#iefix);
  src: url(font-path("../fonts/avenir-lt-w01-35-light.eot")?#iefix) format("eot"), url(font-path("../fonts/avenir-lt-w01-35-light.woff")) format("woff"), url(font-path("../fonts/avenir-lt-w01-35-light.ttf")) format("truetype"), url(font-path("../fonts/avenir-lt-w01-35-light.svg")#avenir-lt-w01-55-roman) format("svg"); }

@font-face {
  font-family: "Avenir LT W01 65 Medium";
  src: url(font-path("../fonts/avenir-lt-w01-65-medium.eot")?#iefix);
  src: url(font-path("../fonts/avenir-lt-w01-65-medium.eot")?#iefix) format("eot"), url(font-path("../fonts/avenir-lt-w01-65-medium.woff")) format("woff"), url(font-path("../fonts/avenir-lt-w01-65-medium.ttf")) format("truetype"), url(font-path("../fonts/avenir-lt-w01-65-medium.svg")#avenir-lt-w01-85-roman) format("svg"); }

div, p, a, h1, h2, h3, h4, h5, h6, li, blockquote, form {
  font-family: "Avenir LT W01 35 Light", Futura, Helvetica, sans-serif;
  line-height: 140%;
  color: #555555; }

p, li {
  font-size: 18px;
  line-height: 160%;
  color: #888888; }

h1 {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #555555; }

h2 {
  font-family: "Avenir LT W01 65 Medium", Futura, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 150%; }

h3 {
  font-size: 18px;
  line-height: 150%;
  font-family: "Avenir LT W01 65 Medium", Futura, Helvetica, sans-serif; }

h4 {
  font-size: 20px;
  line-height: 140%; }

a {
  text-decoration: none;
  color: #45aae4;
  font-style: bold; }

a:hover {
  border-bottom: 1px dashed #45aae4; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.section {
  padding: 60px 0; }

a.button {
  background-color: #45AAE4;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  width: 140px;
  padding: 18px 0px;
  text-decoration: none;
  border-radius: 4px;
  margin: 20px 20px; }

a.button:hover {
  background-color: #0E7AC4;
  border-bottom: none; }

#headline {
  text-align: center; }

#demo {
  background-color: #eceef1;
  border-top: 6px solid #888; }
  #demo .container {
    margin: -6px auto 0 auto;
    border-top: 6px solid #45AAE4;
    max-width: 950px; }
    #demo .container iframe {
      max-width: 951px;
      max-height: 535px; }

#overview {
  text-align: center; }
  #overview .container {
    max-width: 750px; }

#features {
  background-color: #eceef1; }
  #features h2 {
    color: #45aae4;
    text-transform: uppercase;
    margin-bottom: 40px; }
  #features .unit {
    background-repeat: no-repeat;
    background-position: 0% 10%;
    padding-left: 100px;
    margin-bottom: 30px; }
    #features .unit h3 {
      font-size: 22px;
      margin-bottom: 10px;
      text-transform: uppercase; }
  #features .analytics {
    background-image: url("../img/home/icon-analytics.png"); }
  #features .content-management {
    background-image: url("../img/home/icon-cms.png"); }
  #features .remote-monitoring {
    background-image: url("../img/home/icon-monitoring.png"); }
  #features .scalability {
    background-image: url("../img/home/icon-scaling.png"); }
  #features .industry-standard {
    background-image: url("../img/home/icon-tech.png"); }
  #features .works-offline {
    background-image: url("../img/home/icon-offline.png"); }
  #features .modular {
    background-image: url("../img/home/icon-modular.png"); }

#benefits {
  background-color: #404041; }
  #benefits h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #fff; }
  #benefits .container {
    max-width: 800px; }
  #benefits .grid {
    margin-bottom: 30px; }
  #benefits .grid .unit {
    text-align: center; }
    #benefits .grid .unit h4 {
      color: #fff;
      line-height: 120%;
      padding-top: 10px; }
  #benefits .grid.bottom {
    margin-top: 20px; }

#get-admo {
  background-color: #eceef1; }
  #get-admo a.button {
    background-image: url("../img/home/git.png");
    background-repeat: no-repeat;
    background-position: 25% 50%;
    text-align: left;
    padding-left: 100px; }

#customers h2 {
  margin-bottom: 40px; }
#customers .unit {
  background-repeat: no-repeat;
  height: 100px;
  text-align: center;
  background-position: center;
  opacity: 0.5;
  filter: alpha(opacity=50); }
#customers #google {
  background-image: url("../img/home/logo-google.png"); }
#customers #hp-store {
  background-image: url("../img/home/logo-hp.png"); }
#customers #flight-centre {
  background-image: url("../img/home/logo-fc.png"); }

#contact #team {
  background-color: #eceef1; }
  #contact #team h1 {
    margin-bottom: 40px;
    text-align: center; }
  #contact #team .unit {
    margin-bottom: 40px;
    height: 100px;
    padding-left: 130px;
    color: #888888; }
    #contact #team .unit strong {
      color: #404041; }
  #contact #team .anandi {
    background-image: url("../img/team/anandi.png");
    background-repeat: no-repeat; }
  #contact #team .philip {
    background-image: url("../img/team/philip.png");
    background-repeat: no-repeat; }
  #contact #team .gys {
    background-image: url("../img/team/gys.png");
    background-repeat: no-repeat; }
  #contact #team .phillip {
    background-image: url("../img/team/phillip.png");
    background-repeat: no-repeat; }
  #contact #team .david {
    background-image: url("../img/team/david.png");
    background-repeat: no-repeat; }
  #contact #team .ignatius {
    background-image: url("../img/team/ig.png");
    background-repeat: no-repeat; }
#contact #email {
  text-align: center;
  background-color: #45aae4; }
  #contact #email h1 {
    color: #fff; }
#contact #fireid-blurb {
  background-color: #404041; }
  #contact #fireid-blurb p {
    color: #fff; }
  #contact #fireid-blurb .logo img {
    width: 200px; }

/*Header*/
.admocom {
  background: #FFF;
  border-top: 6px solid #ECEEF1;
  min-height: 100px; }
  .admocom .container {
    position: relative; }
  .admocom .header_logo {
    margin: 25px 0;
    display: inline-block;
    zoom: 1; }
    .admocom .header_logo a {
      position: absolute;
      width: 220px;
      height: 60px;
      background-image: url("../img/admologo.png");
      background-repeat: no-repeat;
      background-size: contain; }
    .admocom .header_logo a:hover {
      border-bottom: none; }
  .admocom nav {
    position: absolute;
    right: 0;
    text-align: center;
    display: inline-block; }
    .admocom nav ul li {
      display: inline-block;
      vertical-align: top;
      margin-top: -6px;
      padding: 0 25px;
      border-top: 6px solid rgba(0, 0, 0, 0); }
      .admocom nav ul li a {
        text-transform: uppercase; }
    .admocom nav ul li:hover {
      border-top: 6px solid #45aae4;
      transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out; }
    .admocom nav ul li:hover a {
      color: #45aae4;
      border-bottom: none; }
    .admocom nav ul li.selected {
      color: #45aae4;
      border-top: 6px solid #45aae4; }
    .admocom nav ul a {
      display: block;
      padding: 36px 0px;
      text-decoration: none;
      font-size: 17px;
      color: #555;
      letter-spacing: 2px;
      outline: none;
      margin: 0 auto; }

#tech-heading {
  text-align: center; }
  #tech-heading.gray {
    padding-bottom: 40px; }
  #tech-heading h1 {
    color: #404041;
    font-size: 24px;
    margin: 0px 0 5px 0;
    font-weight: normal;
    line-height: 100%; }
  #tech-heading p {
    color: #929497;
    font-size: 16px;
    margin: 0px 0; }

#modular, #build-apps {
  padding: 80px 0; }
  #modular h2, #build-apps h2 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px; }

.feature {
  width: 45%; }
  .feature.graphic {
    padding-top: 30px;
    text-align: center; }

.feature.left {
  float: left; }

.feature.right {
  float: right; }

#requirements {
  margin: 60px 0; }
  #requirements h2 {
    text-align: center;
    color: #45aae4;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #requirements .unit {
    text-align: center; }
    #requirements .unit .item {
      margin: 5px;
      background-color: #eceef1;
      height: 400px; }
    #requirements .unit:first-child {
      padding-left: none; }
    #requirements .unit img {
      max-width: 100%;
      margin-bottom: 20px; }
    #requirements .unit h3 {
      font-size: 20px; }
    #requirements .unit p {
      font-size: 16px; }
  #requirements .requirements-image {
    height: 222px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px; }

footer {
  background-color: #404041;
  height: 250px; }
  footer .fireid-brand {
    text-align: center;
    padding-top: 60px; }
  footer a {
    font-family: "Avenir LT W01 35 Light", Futura, Helvetica, sans-serif; }
  footer a:hover {
    border-bottom: none; }
    footer a:hover p {
      color: #fff;
      transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out; }

@media screen and (max-width: 780px) {
  .admocom {
    border-top: none;
    min-height: 100px;
    margin-bottom: 20px; }
    .admocom .header_logo {
      position: absolute;
      top: -20px;
      left: 10px; }
    .admocom nav {
      top: 70px;
      left: 0;
      background-color: #45aae4; }
      .admocom nav ul {
        width: 100%;
        text-align: left; }
      .admocom nav ul li {
        display: inline-block;
        vertical-align: top;
        border-top: none;
        margin-top: 0;
        padding: 0; }
        .admocom nav ul li a {
          text-transform: uppercase;
          height: 40px;
          line-height: 40px; }
      .admocom nav ul li:hover {
        border-top: none; }
      .admocom nav ul li:hover a {
        color: #fff;
        border-bottom: none; }
      .admocom nav ul li.selected {
        color: #45aae4;
        border-top: none; }
      .admocom nav ul a {
        text-align: center;
        display: block;
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 2px;
        outline: none;
        margin: 0 auto;
        color: #FFF;
        padding: 0px 4px;
        text-decoration: none;
        margin: 0px 10px; }
        .admocom nav ul a:hover {
          border-bottom: none;
          background-color: #0E7AC4; } }
@media screen and (max-width: 568px) {
  #benefits .grid .unit {
    margin-bottom: 20px; }
    #benefits .grid .unit.right-text {
      text-align: center; }
    #benefits .grid .unit.left-text {
      text-align: center; } }
.gray {
  background-color: #f8f8f8;
  padding-top: 40px; }
  .gray .page {
    background-color: #f8f8f8; }

.page {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  text-align: center; }
  .page section {
    padding-bottom: 60px; }
  .page img.architecture {
    margin-top: 50px; }
  .page h1 {
    color: #404041;
    font-size: 24px;
    margin: 20px 0 5px 0;
    font-weight: normal;
    line-height: 100%; }
    .page h1.left {
      text-align: left;
      max-width: 89%;
      margin-left: auto;
      margin-right: auto; }
  .page p {
    color: #929497;
    font-size: 16px;
    margin: 0px 0; }
  .page .divider {
    margin: 30px auto;
    background-color: #ccc;
    border: none;
    height: 1px;
    width: 89%; }
  .page ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .page li {
    display: inline-block; }
  .page ul.features {
    margin-top: 30px; }
  .page ul.features li a {
    display: block;
    padding: 40px;
    width: 180px;
    height: 150px;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 3px;
    color: #888888; }
    .page ul.features li a:hover {
      border-color: #f1f1f2; }
  .page ul.features li img {
    display: block;
    margin: 0 auto 20px auto; }
  .page ul.apps li {
    width: 260px;
    border: 2px solid #f1f1f2;
    border-radius: 3px;
    margin: 15px 10px; }
    .page ul.apps li div.top {
      padding: 18px;
      border-bottom: 2px solid #f1f1f2; }
    .page ul.apps li a.video, .page ul.apps li .no-video {
      display: block;
      margin-bottom: 18px;
      position: relative; }
    .page ul.apps li a:hover {
      border-bottom: none; }
    .page ul.apps li .no-video a:hover {
      cursor: default; }
    .page ul.apps li span.play {
      width: 37px;
      height: 37px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(play.png) center no-repeat; }
    .page ul.apps li a.preview {
      float: right;
      color: #45a9e3;
      font-size: 16px; }
    .page ul.apps li h2 {
      text-align: left;
      font-weight: normal;
      font-size: 18px;
      color: #6d6e70;
      margin: 0; }
    .page ul.apps li div.bottom {
      padding: 18px; }
    .page ul.apps li a.github {
      background-color: #45a9e3;
      color: #fff;
      text-align: left;
      border-radius: 3px;
      display: block;
      font-size: 16px;
      padding: 10px 10px 10px 43px;
      background: #45a9e3 url("../img/github.png") left no-repeat; }
      .page ul.apps li a.github:hover {
        background-color: #207BAF; }
      .page ul.apps li a.github.inactive {
        background-color: #e3e3e3; }
        .page ul.apps li a.github.inactive:hover {
          background-color: #e3e3e3; }

#chrome-warning {
  width: 400px;
  padding: 50px;
  position: relative;
  background-color: #fff;
  text-align: center;
  border-radius: 6px; }
  #chrome-warning p {
    margin-bottom: 30px; }
  #chrome-warning a.exit {
    position: absolute;
    top: 8px;
    right: 15px; }
    #chrome-warning a.exit:hover {
      border-bottom: 0; }
  #chrome-warning a.download {
    padding: 15px;
    color: #fff;
    background-color: #45aae4;
    border-radius: 4px; }
    #chrome-warning a.download:hover {
      border-bottom: 0;
      background-color: #207BAF; }

div.video-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#player {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
